<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <% if (currentUser) {%>
    <h1>Welcome back, <%= currentUser.first_name + ' ' + currentUser.last_name %></h1>
    <a href="/user/log-out">LOG OUT</a>
    <% if(!currentUser.admin) { %>
      <% if(!currentUser.member) { %>
        <a href="/user/join-club">Join the club</a>
      <% } else { %>
        <a href="/member/join-admin">Become an Admin!</a>
      <% } %>
    <% } %>
    <a href="/member/create-message">Send a message</a>
    <a href="/member">Members page</a>
    <a href="/admin">Admin page</a>
  <% } else { %>
    <h1>Log in to send a message!</h1>
    <a href="/log-in">Log in</a>
    <a href="/sign-up">Sign up</a>
  <%}%>
  <a href="/message-board">Message Board</a>
</body>
</html>
