<body>
    <h1>Want to join the club?</h1>
    <% if(locals.message) { %>
        <h2><%= message %></h2>
        <% } %>
    <form action="" method="POST">
        <label for="clubPassword">Password</label>
     <input id="clubPassword" type="text" name="clubPassword">
    <button>Join the club</button>
    </form>
  </body>
  </html>